img {
	max-width: 100%;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.login-content {
	display: flex;
    height: 100vh;
    min-height: 600px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; 
    background-image: url('./i/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;

    background-size: cover;
}
.login-left {
	width: 50%;
	display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;   
}

.login-left h1 {
	font-size: 60px;
    margin: 0;
    color: #fff;
    text-shadow: 2px 2px 10px #4e4e4e;
}

.login-left h2 {
    font-size: 30px;
    margin: 20px 0;
    color: #1378b5; 
    text-align: center;
}

.login-left p {
    font-size: 18px;
    margin: 0;
    color: #1378b5;
    text-align: center;
}

.login-left a {
    font-size: 18px; 
    color: #1378b5; 
    text-decoration: underline;
}

.login-right {
	width: 50%;
	display: flex; 
    justify-content: center;
    align-items: center; 
}

.footer {
	width: 100%;
	text-align: center;
	font-size: 12px;
	color: #cdcdcd;
	padding: 20px 0;
}

.logo {
	max-width: 50%;
	margin:  0 auto 50px;
}	 

.login-form {
	display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;   
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, .15);
    box-shadow: 0px 0px 15px #ffffff;
}

.login-form input,
.login-form button {
	margin: 0 0 15px 0;
	width: 100%;
	padding: 10px 20px 10px 40px;
	box-sizing: border-box;
	border-width: 0;
	outline: none;
	color: #fff;
	font-size: 18px;
	font-family: 'Balthazar', serif;
	
}

.login-form input {
	background-color: rgba(255, 255, 255, 0);
	border-bottom: 1px solid #1378b5;
}

.login-form input::placeholder {
	color: rgba(255, 255, 255, .7);
	font-family: 'Balthazar', serif;
}

.login-form label {
	position: relative;
}

.login-form label:after {
	position: absolute;
	font-family: "FontAwesome"; 
	top: 10px;
	left: 10px;
	width: 20px;
	height: 20px; 
	text-align: center;
	color: #1378b5; 
}

.login-form label:nth-child(1):after { 
	content:"\f007"; 
}

.login-form label:nth-child(2):after { 
	content:"\f084"; 
}

.login-form button {
    background-color: #1277b5;
    padding: 10px;
    margin: 15px 0 0 0;
    border-radius: 5px;
    cursor: pointer;
}

.login-form p a {
	color: #fff;
}

.header { 
    box-shadow: 0px 0px 10px #0000001f;
}

.header .container {
	display: flex;
    align-items: center;
    justify-content: space-between;

}

.header-logo {
	width: 300px;
} 

.header input { 
	margin: 0 15px 0 0; 
	padding: 10px 20px 10px 20px;
	box-sizing: border-box; 
	border: 1px solid #000;
	border-radius: 5px;
	outline: none;
	color: #000;
	font-size: 18px;
	font-family: 'Balthazar', serif;
	min-width: 300px;
}


.header button {
    background-color: #1277b5;   
    cursor: pointer; 
	margin: 0; 
	padding: 10px 20px 10px 20px;
	box-sizing: border-box; 
	border: none;
	border-radius: 5px;
	outline: none;
	color: #fff;
	font-size: 18px;
	font-family: 'Balthazar', serif; 
	text-transform: uppercase;
}

.header-ection a {
    background-color: #1277b5;   
    cursor: pointer; 
	margin: 0 5px; 
	padding: 10px 20px 10px 20px;
	box-sizing: border-box; 
	border: none;
	border-radius: 5px;
	outline: none;
	color: #fff;
	font-size: 18px;
	font-family: 'Balthazar', serif; 
	text-transform: capitalize;
	text-decoration: none;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('./i/page-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    min-height: 300px;
	position: relative;
}  
 

.user-info h1 {
	text-align: center;
    font-size: 80px;
    margin: 0;
    padding-top: 20px;
    color: #fff;
    text-shadow: 5px 5px 10px #000000;
}

.user-info h3 {
	text-align: center;
    font-size: 30px;
    margin: 0;
    color: #fff;
    display: block;
    width: max-content;
    margin: 0 auto;
    border-top: 3px solid #ffffffbd;
    padding: 10px 40px;
}

.user-block {
	padding: 10px;
    width: 200px;
    height: 200px; 
    font-size: 20px;
    background: #fff;
    display: flex;
    flex-direction: column;
    border: 2px solid;
    border-radius: 50%;
    align-items: center;
    justify-content: center; 
    position: absolute;
    left: 200px;
    bottom: -50px;
    box-shadow: 2px 2px 15px #000000;
}

.user-block img {
    width: 140px; 
    margin-bottom: 10px;
}

.user-block a { 
    color: #000; 
}

.content {
	margin-top: 100px;    
	display: flex;
    align-items: flex-start;
    justify-content: space-between; 
}

.content-right,
.content-left {
	min-width: 20%;
    flex-shrink: 0;
}

.friends,
.menu {
    background-color: #1378b5;
    border-radius: 5px;
    outline: 1px dashed #fff;
    outline-offset: -10px;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.friends h3,
.menu h3,
.content-center h3 {
    text-align: center;
    font-size: 30px;
    margin: 0;
    color: #fff; 
    margin: 0 auto; 
    padding: 0 0 10px;
    border-bottom: 2px dashed #fff;
}

.friends-ul,
.menu-ul {
	list-style: none;
	padding: 0;
	margin: 10px 0 0 0;
}

.friends-ul li {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 0;
}

.f-info a {
	color: #fff;
	font-size: 20px;
}
.f-info span {
	display: block;
	color: #fff;
	font-size: 15px;
}

.f-logo {
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50%;
    border: 1px dashed;
    padding: 5px;
    box-sizing: border-box;
    text-align: center; 
}

.menu-ul a {
	padding: 10px 0 10px 30px;
	color: #fff;
	line-height: 30px;
	font-size: 18px;
	position: relative;
}

.menu-ul a:before {
    content: "";
    border: 5px solid transparent;
    border-left: 5px solid #fff;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
	transition: .3s;
}

.menu-ul a:hover:before {
	left: 15px;
}

.content-center { 
	background-color: #1378b5;
    border-radius: 5px;
	margin: 0 10px;
	padding: 20px;
	box-sizing: border-box;
    outline: 1px dashed #fff;
    outline-offset: -10px; 
    flex-grow: 1;
}

.send-posts {
    width: 100%;
    margin: 10px 0;
    background: #fff;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px; 
}

.send-posts textarea {
    width: 100%;
	max-width: 100%;
	min-width: 100%;
    padding: 5px 10px;
    min-height: 100px;
    max-height: 100px;
    outline: none;
    border-radius: 10px;
    box-sizing: border-box;
    border: 1px solid #cdcdcd; 
    color: #000;
    font-size: 18px;
    font-family: 'Balthazar', serif; 
}	

.send-posts button {
    background-color: #1277b5;
    cursor: pointer;
    margin: 0;
    padding: 10px 20px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    outline: none;
    color: #fff;
    font-size: 15px;
    font-family: 'Balthazar', serif;
    text-transform: uppercase; 
    width: 100%; 
}

.post {
	width: 100%;
    margin: 10px 0;
    background: #fff;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
	align-items: center;
}

.post-user-img {
    width: 100px;
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: 20px;
    background-color: #1378b5;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    outline: 1px dashed #fff;
    outline-offset: -10px; 
}

.post-content {
	flex-grow: 1;
}

.post-content h4 {
	margin: 0;
    font-size: 25px;
    line-height: 25px;
}

.post-content h4 span{
    font-size: 15px;
    margin-left: 20px;
    color: rgba(0,0,0,.5);
}

.post-content p { 
    font-size: 18px;
    line-height: 18px;
    color: rgba(0,0,0,.7);
}

.post-controls {
	width: 100%;
	text-align: center;
}

.post-controls a {	
	color: #1378b5;
	font-synthesis: 30px;
	margin: 0 40px;
}

.page-footer {
    margin-top: 50px;
    background-color: #1378b5;
    outline: 1px dashed #fff;
    outline-offset: -10px;
    border-radius: 5px 5px 0 0;
}

.page-footer p{
    color: #fff;
}

.track {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin: 30px 0;
    position: relative;
}

.track:after {
    content:  '';
    position: absolute;
    width: 400px;
    height: 2px;
    background-color: #fff;
    bottom: -16px;
    left: 50%;
    transform: translateX(-50%);
}

.track-icon {
    width: 50px;
    height: 50px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #fff;
}

.track-icon a {
    color: #1378b5;
    font-size: 35px;
}

.track-info {
    flex-grow: 1;
    margin: 0 20px;
    border-left: 1px dashed #fff;
    border-right: 1px dashed #fff;
    padding-left: 20px;
    padding-right: 20px;
}

.track-info p{
    padding: 0;
    margin: 0;
    color: #fff;
    font-size: 25px;
}
.track-info span { 
    margin-top: 10px;
    color: rgba(255, 255, 255, .4);
    font-size: 18px;
}

.track-duration {
    min-width: 50px;
    color: #fff;
    font-size: 20px;
    text-align: center;
}

.load-more a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 20px;
}

.load-more a i{
    font-size: 18px;
    margin-right: 10px; 
}       

.games {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.game { 
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    outline: 1px dashed #1378b5;
    outline-offset: -10px;
}

.game-image {
    min-height: 80px;
    margin-bottom: 10px;
    border: 1px solid #8fd5ff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: #1378b5;
}

.game-info a {
    text-decoration: none;
    text-align: center
}

.game-info p {
    padding: 0;
    margin: 0 0 5px 0;
    color: #1378b5;
    font-size: 20px;
    font-weight: normal;
}

.game-info span {
    display: block;
    padding: 0;
    margin: 0;
    color: #1378b5;
    font-size: 15px;
}

.messenger { 
    display: flex;
    align-items: start;
    justify-content: space-between; 
}

.messenger-left {
    background: #fff;
    margin-top: 20px;
    border-radius: 5px 0 0 5px;
    padding: 10px;
    min-width: 20%;
    height: 499px;
    overflow-y: auto;
}

.messenger-left a,
.messenger-left span {
    color: #1378b5;
}

.messenger-left .f-logo {
    margin-right: 10px;
}

.messenger-left li {
    border-bottom: 1px solid #1378b524;
}

.messenger-left li:last-child {
    border-bottom: none;
}

.messenger-right {
    flex-grow: 1;
    background: #fff;
    margin-top: 20px;
    border-radius: 0 5px 5px 0;
    padding: 10px;
    border-left: 1px solid #cdcdcd;
}

.messenger-chat {
    width: 100%;
    border: 1px solid #cdcdcd; 
    background: #fff;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    max-height: 300px;
    overflow-y: auto;
}

.messenger-chat .load-more a{
    color: #29aeff;
    margin-top: 0;
}

.messenger-chat p {
    padding: 0;
    margin: 0;
}

.chat-me p,
.chat-your p {
    background-color: #29aeff;
    border:  1px solid #fff;
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff; 
    margin: 10px 0;
} 

.chat-your {
    text-align: right;
}

.chat-your p {
    color: #1378b5;
    background-color: #fff;
    border:  1px solid #29aeff;
} 

.setting {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    color: #fff;
    margin: 10px 20px;
    padding: 10px 0;
    border-bottom: 1px solid #358bbf;
}

.setting-name p {
    font-size: 25px;
    margin: 0;
    padding: 0; 
}

.setting-control p {
    font-size: 18px;
    margin: 0;
    padding: 0; 
}

.setting-change a {
    font-size: 18px;
    color: #fff;
}

.modal {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000090;
    z-index: 999;
}

.modal-content {
    min-width: 700px;
    height: auto;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    border-radius: 10px;
}

.modal-form {
    width: 100%;
    margin: 10px 0;
    background: #fff;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px; 
}

.modal-form textarea {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    padding: 5px 10px;
    min-height: 250px;
    max-height: 250px;
    outline: none;
    border-radius: 10px;
    box-sizing: border-box;
    border: 1px solid #cdcdcd; 
    color: #000;
    font-size: 18px;
    font-family: 'Balthazar', serif; 
}   

.modal-form button {
    background-color: #1277b5;
    cursor: pointer;
    margin: 0;
    padding: 10px 20px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    outline: none;
    color: #fff;
    font-size: 15px;
    font-family: 'Balthazar', serif;
    text-transform: uppercase; 
    width: 100%; 
}

.modal-content .modal-close {
    position: absolute;
    right: 10px;
    top: 5px;
    color: #1277b5;
    font-size: 20px;
}

.modal-form h3{
    text-align: center;
    font-size: 30px;
    padding: 0;
    margin: 10px 0;
}

.menu-ul-active {
    font-size: 25px;
}